<!DOCTYPE html>
<html>
<head>
  <title>Numberpicker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<img src="https://upload.wikimedia.org/wikipedia/en/8/8f/PAWPatrolLogo.png" />
<div class="container">
	<%= yield %>	
</div>


</body>
</html>
