<!DOCTYPE html>
<html>
<head>
  <title>Numberpicker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
			<img src="https://upload.wikimedia.org/wikipedia/en/8/8f/PAWPatrolLogo.png" />
		</div>
		<div class="col-md-8" style="line-height: 200px">
			<p style="font-size: 48px; vertical-align: middle;">Urban's Number Mission!</p>
		</div>
	</div>
	<container>
	<%= yield %>
	</container>	
</div>


</body>
</html>
